body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

section {
    width: 100%;
    height: auto;
}

address {
    text-decoration: none;
    font-style: normal;
    line-height: 1.5em;
    a {
        color: $color-smoothDark;
    }
    b {
        color: $color-mediumDark;
    }
    p {
        color: $color-smoothDark;
    }
}

.base-section {
    position: relative;
    height: 433px;
}

.base-section--parallax {
    position: relative;
    background-image: url('../img/theFourCat.jpg');
    @include parallax;
    height: 433px;
    z-index: 1;
    filter: blur(3px);
    overflow: hidden;
}

.layer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 433px;
    background-color: rgba(216, 193, 178, 0.425);
    z-index: 3;
    p {
        color: #392D2D;
    }
    h1 {
        padding-top: 15px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding: $padding-base;

    h1{
        padding-top: 20px; 
    }
}

.content-card {
    background-color: rgb(255, 255, 255);
    height: 980px;
    justify-content: center;
    align-items: center;
}

.content-images {
    overflow: hidden;
    &:hover .card-hoverImage {
        top: 12%;
        transition: .3s;
        
    }
    &:hover .img-fluid {
        transform: scale(1.1);
        transition: .3s;
    }
}

.card-hoverImage {
    @include flexColumn;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: $padding-base + 10;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 64, 56, 0.534);
    z-index: 2;
    top: 100%;
    transition: .3s;
    p {
        color: $color-white;
    }
    @media (max-width: 680px) {
        @include flexColumn;
        top: 20%;
    
    }
}

.flex {
    flex: 1;
}

.flex--two {
    flex: 2;
}

.buttom-content {
    justify-self: center;
    align-self: center;
}