.button-base {
    width: 200px;
    height: 40px;
    margin: 10px;
    background-color: #CC6636;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-size: .8em;
    padding: $padding-base - 2;
    border-radius: 20px;
    transition: .3s;
    &:hover {
        background-color: #392D2D;
        transition: .3s
    }
}