.big-card{
   @include flexColumn;
   justify-content: center;
   align-items: center;
    width: 90%;
    height: auto;
    background-color: rgba(204, 98, 52, 0.856); 
    @media (max-width: 680px) {
       
        width: 100%;
    
    }
}

.card-map{
    margin: 20px;
    height: 530px;
    background-color: rgb(126, 62, 34); 
    @media (max-width: 680px) {
        @include flexColumn;
        width: 90%;
       
    }
}

.card-infoContact{
    @include flexRow;
    @media (max-width: 680px) {
        @include flexColumn;
        width: 100%;
    
    }
}

.card-infoAdress{
    @include flexRow;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 15px;
    padding: $padding-base;
}

.card-infoAdress--content{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

