footer{
    display: flex;
    width: 100%;
    height: 60px;
    padding: $padding-base;
    justify-content: center;
    align-content: center;
    background-color: rgb(204, 98, 52);
    p{
        color: #333333;
    } 
}